# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects 
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Rom files
*.bin

# VSCode project files
*.code*
.vscode

# Symbols
symbol.txt

# Assets dir
assets/

# Object dir
obj/

# Binary dir
bin/

# Toolchain dir
toolchain/

# Other files
*.zip
*.rar
*.bak
*.bk
*.log
*.tmp
*.lst
*~

# WIP data
wip/
wip-doc/
wip-assets/

# Mame history dir
history/
