# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*
*.dylib

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Rom files
*.bin

# Other file types
*.zip
*.rar
*.bak
*.bk
*.log
*.tmp
*.lst
*~

# VSCode project files
*.code*
.vscode

# Assets dir
assets/

# Build dir
build/

# Toolchain dir
toolchain/

# WIP data
wip/
wip-doc/
wip-assets/

# Mame history dir
history/
